*~
*.lxt
*.pyc
*.vvp
*.kate-swp
*.css
*.html
*.js

ctrl_received_file.txt
data_received_file.txt
phy_ctrl_file.txt
phy_data_file.txt
**/*.xml
**/*.pyc
*.vvp

rx_flex
rx_flex_ori

~RX_TESTS_CORE3.xlsx
~TX_TESTS_CORE3.xlsx

.pytest_cache
*.fst
*.lxt
**/sim_build
iverilog_dump.v

.vscode